{{- define "main" -}}

<main class='main w-full mx-auto md:w-3/4 lg:w-1/2 {{if eq .Site.Language.Lang "zh"}}chinese-text{{end}} h-screen-minus-header px-4 md:px-0'>
    {{ if .IsHome }}
        <div class="home">
            <h1>
                {{ .Site.Params.welcome_message }}
            </h1>
            <ul>
                {{ range .Site.Params.he_is }}
                    <li>{{ . }}</li>
                {{ end }}
            </ul>
        </div>
        {{ $featured := where .Site.RegularPages  "Params.featured.flag" "=" true }}
        {{ if gt (len $featured) 0 }}
        <div class="featured">
            <h1>
                {{ i18n "featured" }}
            </h1>
            {{ range first .Site.Params.number_of_featured (sort $featured "Params.featured.weight" "desc")}}
            
            <ul>
                <li>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                </li>
            </ul>
            {{ end }}
        </div>
        {{ end }}

    {{ else if .IsSection }}
        {{/*  {{ if .IsSection }}
            Section
        {{ else }}
            Taxonomy
        {{ end }}  */}}

        {{ $paginator := .Paginate (where .Data.Pages "Type" .Section) .Site.Params.Pagination.Post}}
        <div class="content-list">
            {{ range $paginator.Pages.GroupByDate "2006" }}
                <h2>{{ .Key }}</h2>
                {{ range .Pages }}
                    <div class="post flex-row flex flex-1">
                        <p><a href="{{ .Permalink }}">{{ .Title }}</a></p>
                        <div class="dot-line"></div>
                        <span class="my-auto">{{ .Date.Format "Jan 2, 2006" }}</span>
                    </div>
                {{ end }}
            {{ end }}  
        </div>
        {{ if gt $paginator.TotalPages 1 }}
        <nav class="pagination">
            {{/*  {{ template "_internal/pagination.html" . }}  */}}
            {{ partial "pagination.html" . }}
        </nav>
        {{ end }}
    {{ else }}
        
    {{ end }}
</main>
{{- end -}}