{{- define "main" -}}
    <div class="flex flex-col lg:flex-row lg:w-full md:w-3/4 mx-auto h-screen-minus-header">
        {{ $toc := (ne .TableOfContents "<nav id=\"TableOfContents\"></nav>")}}
        {{ if $toc }}
        <aside id="toc" class="w-full lg:w-1/4">
            {{ .TableOfContents }}
        </aside>
        {{ end }}
        
        <main class='main w-full lg:w-1/2 {{if not $toc}}mx-auto {{end}} {{if eq .Site.Language.Lang "zh"}}chinese-text{{end}} px-1 md:px-0'>
            {{ .Content }}
        </main>
    </div>
{{- end -}}