<nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="lg:w-1/2 md:w-3/4 w-full flex flex-row flex-wrap items-center justify-between mx-auto md:px-1 md:py-4 p-4">
        <button data-collapse-toggle="navbar-menu" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-menu" aria-expanded="false" id="btn-navbar">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
            </svg>
        </button>
        {{ $currentLanguage := .Site.Language.Lang }}
        <select id="lang" title="language" class="order-1 md:order-2">
        {{ range .Site.Languages }}
            <option value="{{.Lang}}" {{ if eq .Lang $currentLanguage}} selected {{end}} >{{T .Lang}}</option>
        {{ end }}
        </select>
        <span id="currentLang" hidden>{{ $currentLanguage }}</span>
        {{ $currentUrl := .Page.RelPermalink }}
        <div class="menu-hide w-full menu-display md:w-auto order-2 md:order-1" id="navbar-menu">
            <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-4 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                {{ range .Site.Menus.main }}

                {{ if eq .URL $currentUrl }}
                <li>
                    <a href="{{.URL | relLangURL}}" class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500">{{safeHTML .Name}}</a>
                </li>
                {{ else }}
                <li>
                    <a href="{{.URL | relLangURL}}" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">{{safeHTML .Name}}</a>
                </li>
                {{ end }}
                {{ end }}
            </ul>
        </div>

    </div>
</nav>