@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: rgb(252, 252, 252);
    --secondary-color: #4891fd;
}

/* headings */
h1 {
    @apply text-4xl;
    margin: 0.5rem 0;
}

h2 {
    @apply text-3xl;
    margin: 0.5rem 0;
}

h3 {
    @apply text-2xl;
    margin: 0.5rem 0;
}

h4 {
    @apply text-xl;
    margin: 0.5rem 0;
}

h5 {
    @apply text-lg;
    margin: 0.5rem 0;
}

h6 {
    @apply text-base;
    margin: 0.5rem 0;
}

p {
    @apply text-base;
    margin: 0.5rem 0;
}

/* main.css */

body {
    background-color: var(--primary-color);
}

h1 {
    color: var(--secondary-color);
}

.btn {
    background-color: blue;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    text-transform: uppercase;
}

.menu-hide {
    display: none;
}

@media (min-width: 768px) {
    .menu-display {
        display: block;
    }
}

.chinese-text {
    word-break: break-word;
    overflow: auto;
}

#toc nav {
    border: 1px solid #ccc;
    border-top: none;
    margin: 0rem 1rem 0rem 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

#toc-collapse {
    border: 1px solid #ccc;
    margin: 0rem 1rem 0rem 1rem;
}

#toc-collapse button {
    display: flex;
    justify-content: start;
}

#toc-collapse button span {
    font-size: 0.9rem;
    font-weight: bold;
    font-family: "Noto Sans SC", sans-serif;
    margin: 0.2rem 0.5rem 0.1rem 0.5rem;
}

#toc-collapse button svg {
    /* move up a little */
    margin-top: -0.1rem;
}

@media (min-width: 768px) {
    #toc-collapse {
        border: 1px solid #ccc;
        margin: 0rem;
    }

    #toc>nav {
        margin: 0rem 0rem 1rem 0rem;
    }
}

@media (max-width: 768px) {
    /* lg:hidden */
    .small-hidden {
        display: none;
    }
}

@media (min-width: 1024px) {
    #toc>nav {
        margin: 1rem 1rem 1rem 1rem;
        border-top: 1px solid #ccc;
    }
}

#toc ul {
    list-style-type: none;
    padding-left: 0;
}

#toc ul ul {
    padding-left: 1rem;
}

#toc ul ul ul {
    padding-left: 1rem;
}

#toc ul ul ul ul {
    padding-left: 1rem;
}

#toc ul ul ul ul ul {
    padding-left: 1rem;
}

#toc ul ul ul ul ul ul {
    padding-left: 1rem;
}

.h-screen-minus-header {
    min-height: calc(100vh - 5.5rem);
}

.content-list {
    min-height: calc(100vh - 10rem);
}

/* Set the scrollbar to be always visible with custom styling */
/* The thumb color changes on hover */
/* Other scrollbar styles can also be customized as needed */
/* ::-webkit-scrollbar {
    width: 8px;
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    display: none;
}


::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    display: block;
}

::-webkit-scrollbar:hover {
    width: 8px;
} */

::-webkit-scrollbar {
    display: none;
}

/* body.show-scrollbar::-webkit-scrollbar-thumb {
    background-color: #555;
    display: block;
}

body.show-scrollbar::-webkit-scrollbar {
    width: 8px;
}

@keyframes fadeOutScrollbar {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }   
}

@keyframes fadeInScrollbar {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }   
}

.scrollbar-overlay {
    position: absolute;
    top: 0;
    right: -8px;
    bottom: 0;
    width: 8px;
    height: 100vh;
    z-index: 9999;
    opacity: 1;
} */

.pagin-disabled {
    color: #888888;
    pointer-events: none;
    cursor: default;
}

.pagin-active {
    color: #ffffff;
    background-color: #4891fd;
}

nav.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.pagination ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
}

nav.pagination ul li {
    margin: 0 0.25rem;
}

.dot-line {
    border-bottom: 1px dotted #ccc;
    width: 100%;
    margin: 0rem 1rem 1.3rem 1rem;
    flex: 1;
}

.post-meta {
    border-bottom: 1px solid #ccc;
}